<div class="landingA">
  <h1>CoffeeRun</h1>
  <h2>Fresh Coffee Delivered Right to Your Seat</h2>
  <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-danger" %>
  <div class="logos center">
    <%= image_tag("mcgill.jpg", alt: "McGill logo", height: "40") %>
    <%= image_tag("tim_hortons.jpg", alt: "Tim Hortons logo", height: "50") %>
    <%= image_tag("premiere_moison.jpg", alt: "Premiere Moison logo", height: "50") %>
  </div>
</div>

<div class="landingB">
  <h1>Number of Students Using CoffeeRun</h1>
  <h2><%= User.all.length %></h2>
  <%= link_to "Learn More", about_path, class: "btn btn-lg btn-danger" %>
</div>