<%= provide(:title, @user.name) %>
<div class="row">
    <div class="profile">
      <h2>
        Profile
      </h2>
      <%= gravatar_for @user, size: 120, type: "gravatar-profile" %>
      <h1>
        <%= @user.name %>
      </h1>
      <% if @user.activated? %>
        <h2>Member Since <%= @user.activated_at.strftime("%B %d, %Y") %></h2>
      <% else %>
        <h2>(Account Not Activated)</h2>
      <% end %>
      <div class="profile-stats">
        <div class="col-md-3 center">
          <h3>TODO:</h3>
          <h4>Points</h4>
        </div>
        <div class="col-md-3 center">
          <h3>TODO:</h3>
          <h4>Leaderboard</h4>
        </div>
        <div class="col-md-3 center">
          <h3><%= @user.orders.count %></h3>
          <h4>Beverages Ordered</h4>
        </div>
        <div class="col-md-3 center">
          <h3>TODO:</h3>
          <h4>Beverages Retrieved</h4>
        </div>
      </div>
      <div class="order-log">
        <% if @user.orders.any? && @user == current_user %>
          <h3 class="center">Order History</h3>
          <ol class="orders center">
            <%= render @orders %>
          </ol>
          <%= will_paginate @orders %>
        <% elsif !@user.orders.any? && @user == current_user %>
          <h3 class="center"> Order History </h3>
          <h4 class="center"> <%= link_to "Place your first order now!", root_url %></h4>
        <% end %>
      </div>
    </div>
</div>
