<%= provide(:title, @user.name) %>
<div class="row">
    <div class="profile">
      <h2>
        Profile
      </h2>
      <%= gravatar_for @user, size: 100, type: "gravatar-profile" %>
      <h1>
        <%= @user.name %>
      </h1>
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if logged_in? %>
      <% if @user.name == current_user.name %>
        <div class="center">
          <h3>$29.41</h3>
          <h4>Account Balance</h4>
        </div>
        <% end %>
      <div class="profile-stats">
        <div class="col-md center">
          <h3><%= @user.orders.count %></h3>
          <h4>Beverages Ordered</h4>
        </div>
      </div>
      <div class="order-log">
        <% if @user.orders.any? && @user == current_user %>
          <h3 class="center">Order History</h3>
          <ol class="orders center">
            <%= render @orders %>
          </ol>
          <%= will_paginate @orders %>
        <% elsif !@user.orders.any? && @user == current_user %>
          <h3 class="center"> Order History </h3>
          <h4 class="center"> <%= link_to "Place your first order now!", root_url %></h4>
        <% end %>
      </div>
    </div>
</div>
