<%= form_with(model: @order, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    
    <%= f.label :vendor %>
    <%= f.select :vendor, options_for_select([  ['Tim Hortons', 'Tim Hortons'], 
                                                ['Starbucks', 'Starbucks'],
                                                ['Premiere Moisson', 'Premiere Moisson'],
                                                ['Dispatch', 'Dispatch'],
                                                ['Second Cup', 'Second Cup'] ]), 
                          prompt: "Select One..." %>
    
    <%= f.label :item %>
    <%= f.select :item, options_for_select([  ['Coffee', 'Coffee'], 
                                              ['Tea', 'Tea'] ]), 
                          prompt: "Select One..." %>
    
    <%= f.label :size %>
    <%= f.select :size, options_for_select([  ['Small', 'Small'],
                                              ['Medium', 'Medium'],
                                              ['Large', 'Large'],
                                              ['Extra Large', 'Extra Large'] ]), 
                          prompt: "Select One..." %>
    
    <%= f.label :details, "Special Instructions" %>
    <%= f.text_area :details, placeholder: "Dietary restrictions, extras, etc. ", class: 'form-control' %>
    
    <%= f.label :zone %>
    <%= f.select :zone, options_for_select([  ['McLennan Floor 1', 'McLennan Floor 1'],
                                              ['McLennan Floor 2', 'McLennan Floor 2'],
                                              ['McLennan Floor 3', 'McLennan Floor 3'],
                                              ['McLennan Floor 5', 'McLennan Floor 5'],
                                              ['McLennan Floor 6', 'McLennan Floor 6'],
                                              ['Redpath Basement (Cyberthèque)', 'Redpath Basement (Cyberthèque)'],
                                              ['Redpath Floor 1', 'Redpath Floor 1'],
                                              ['Redpath Floor 2', 'Redpath Floor 2'],
                                              ['Redpath Floor 3', 'Redpath Floor 3'] ]), 
                          prompt: "Select One..." %>
    
  </div>
  <%= f.submit "Order", class: "btn btn-danger" %>
<% end %>