<li id="order-<%= order.id %>">
  <div class="row"> 
    <!--<%= link_to gravatar_for(order.user, size: 50, type: "gravatar-default"), order.user %>-->
    <div class="col-md-4">
      <span class="user"><%= link_to order.user.name, order.user %></span>
      <% if current_user.admin? || order.user == current_user %>
      <span class="zone"><%= order.zone %></span>
      <% end %>
    </div>
    <div class="col-md-6">
      <span class="item"><b><%= order.vendor %> | <%= order.size %> <%= order.item %></b> (<%= order.details %>)</span>
      <span class="timestamp">Placed <%= time_ago_in_words(order.created_at) %> ago.</span>
    </div>
    <div class="col-md-2">
      <% if current_user.admin? %>
        <% if order.status == "New" %>
          <%= render 'shared/to_progress_form' %>
        <% elsif order.status == "In Progress" %>
          <%= render 'shared/to_complete_form' %>
        <% else %>
          <div class="status-complete"><%= order.status %></div>
        <% end %>
      <% else %>
        <% if order.status == "New" %>
          <div class="status-new"><%= order.status %></div>
        <% elsif order.status == "In Progress" %>
          <div class="status-progress"><%= order.status %></div>
        <% else %>
          <div class="status-complete"><%= order.status %></div>
        <% end %>
      <% end %>
      
      
    </div>
    
  </div>
</li>